@charset "utf-8";
/* webfont */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes star_move{
    0%{
        transform: scale(1);
    }    
    50%{
        transform: scale(0.5);
    }    
    75%{
        transform: scale(0.8);
    }    
    100%{
        transform: scale(1);
    }    
}
@keyframes textflow{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes cloud_move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes airship_move{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes airplane_move{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes camera_rotate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2); 
    }
    100%{
        transform: scale(1);
    }
}
html,div,body,p,ul,ol,li,a,h1,h2,h3,h4,h5,h6,input,textarea,select,option,strong,span,em,dl,dt,dd,table,th,td,tr,img,video {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#wrap{
    min-width: 1320px;
}

html, body{
    cursor: url(../images/cursor.cur),auto;
}
body{
    font-family: 'NEXON Lv1 Gothic OTF','Montserrat';
    font-size: 14px;
    line-height: 20px;
    color: #a2875c;
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}
/* header */

.inner_header{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav> li{
    position: relative;
    display: flex;
}
.nav> li> a{
    display: inline-block;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 50px 70px 0;
    padding-bottom: 20px;
}
.nav> li> a:hover{
    color: #cac1a6;
}
.link_wrap{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.link{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 9;
}
.link li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #a2875c;
    margin: 0 10px;
}
.link li:nth-child(1)::before{
    display: none;
}
.header_logo{
    position: absolute;
    top: 45px;
    left: 600px;
    z-index: 9;
}
.header_logo:hover{
    transform: rotate(15deg);
}

/* submenu */

.submenu{
    /* 안 보이게 하기  */
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    z-index: 99;
}
.gnb li:hover .submenu{
    /* 보인다 */
    display: block;
}
.submenu li{
    border-radius: 30px;
}
.submenu li a{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    background-color: #A79376;
}
.submenu li a:hover{
    color: #A79376;
    background-color: #fff;
}

/* banner */

#banner{
    overflow: hidden;
    margin-top: 20px;
}
.inner_banner{
    height: 540px;
    background: url(../images/2_sub1_images/about_banner.jpg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_text img{
    width: 1000px;
}
.banner_star {
    width: 1000px;
    position: relative;
}
.banner_star img:nth-child(1){
    position: absolute;
    top: -200px;
    left: -45px;
    animation: star_move 3s infinite linear;
}
.banner_star img:nth-child(2){
    position: absolute;
    bottom: -95px;
    right: -50px;
    animation: star_move 3s infinite linear;
}

/* text_flow */

.animated{
    overflow: hidden;
    padding: 30px 0;
    margin-bottom: 200px;
}
.track{
    margin-top: 30px;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 200;
    animation: textflow 5s infinite linear;
}

/* postcard */
#postcard_wrap{
    overflow: hidden;
}
#postcard{
    width: 1320px;
    margin: 200px auto;
    height: 800px;
    display: flex;
    justify-content: center;
    position: relative;
}
.postcard1{
    position: absolute;
    top: 0;
    left: 55px;
    z-index: 10;
    transform: rotate(-20deg);
}
.postcard1:hover{
    transform: rotate(-10deg);
}
.postcard2{
    position: absolute;
    top: 378px;
    left: 360px;
    z-index: 9;
    transform: rotate(5deg);
}
.postcard2:hover{
    transform: rotate(0);
}
.postcard3{
    position: absolute;
    top: 85px;
    right: 50px;
    z-index: 8;
    transform: rotate(20deg);
}
.postcard3:hover{
    transform: rotate(10deg);
}
.effect1{
    position: absolute;
    top: -120px;
    left: 0;
    animation: rotate 3s infinite linear;
}
.effect2{
    position: absolute;
    bottom: 0;
    right: 0;
    animation: rotate 3s infinite linear;
}
.cloud1{
    position: absolute;
    bottom: -30px;
    left: 0;
    animation: cloud_move 3s infinite linear;
}
.cloud2{
    position: absolute;
    top: 0;
    right: 0;
    animation: cloud_move 3s infinite linear;
}
.airship1{
    position: absolute;
    bottom: 100px;
    left: 145px;
    animation: airship_move 3s infinite linear;
}
.airship2{
    position: absolute;
    top: -135px;
    right: 340px;
    animation: airship_move 3s infinite linear;
}

/* brand */

#brand{
    height: 980px;
    margin: 0 auto;
    background: url(../images/2_sub1_images/logo_bg.png) no-repeat center;
    text-align: center;
}

.brand_title{
    padding-top: 130px;
}
#brand h2{
    font-size: 40px;
    word-spacing: 10px;
    margin-bottom: 50px;
}
#brand h3{
    font-size: 25px;
}

.brand_wrap{
    width: 1320px;
    margin: 80px auto;
    display: flex;
}
.left, .right{
    width: 660px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 70px;
}
.logo{
    width: 270px;
    height: 370px;
    margin-bottom: 60px;
}
.right{
    text-align: left;
    margin-left: 50px;
}
.right strong{
    display: inline-block;
    background-color: #a2875c;
    color: #fff;
    padding: 6px 10px;
    font-size: 19px;
}

.right p{
    margin: 25px 0 50px;
    font-size: 16px;
    line-height: 25px;
}

/* story */

#story{
    margin: 100px auto;
    position: relative;
    height: 1500px;
    overflow: hidden;
}
.story1, .story3{
    width: 1320px;
    height: 300px;
    border-radius: 100px 0 0 100px;
    background-color: #CCB38E;
}
.story1{
    position: absolute;
    top: 100px;
    right: 0;
}
.story1_wrap,.story2_wrap,.story3_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.plane{
    position: absolute;
    top: 55px;
    left: -235px;
}
.story_text{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.story_text p{
    font-size: 16px;
    line-height: 25px;
}
.story_text p:nth-child(2){
    margin: 30px 0;
}
.wood1,.wood3{
    position: absolute;
    top: -100px;
    right: 300px;
    height: 100px;
    overflow: hidden;
}
.story2{
    width: 1320px;
    height: 300px;
    border-radius: 0 100px 100px 0;
    background-color: #A79376;
    position: absolute;
    top: 600px;
    left: 0;
}

.wood2{
    position: absolute;
    top: -100px;
    left: 300px;
    height: 100px;
    overflow: hidden;
}

.camera{
    position: absolute;
    top: 20px;
    right: -120px;
}
.camera_effect{
    position: absolute;
    top: -20px;
    right: -205px;
    animation: camera_rotate 3s infinite linear;
}

.story3{
    position: absolute;
    bottom: 100px;
    right: 0;
}

.polaroid{
    position: absolute;
    top: -20px;
    left: -150px;
}

/* banner2 */

#banner2{
    margin-top: 50px;
    height: 475px;
    background: url(../images/2_sub1_images/photo_banner.jpg) no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

#banner2 strong{
    display: block;
    font-size: 50px;
    margin-bottom: 50px;
}

/* window */

#window{
    width: 1320px;
    margin: 100px auto;
    text-align: center;
}
.airplane_wrap{
    width: 1320px;
    display: flex;
    position: relative;
}
.airplane img{
    width: 440px;
    height: 525px;
}
.light1{
    position: absolute;
    top: 0;
    left: 0;
    animation: star_move 3s infinite linear;
}
.light2{
    position: absolute;
    bottom: 0;
    right: 0;
    animation: star_move 3s infinite linear;
}

.mouse_text{
    margin-top: 30px;
    font-size: 16px;
}
#window h2{
    font-size: 30px;
}
/* footer */

#footer{
    height: 300px;
    background: url(../images/footer_bg.png) no-repeat center center;
    margin-top: 50px;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    color: #FBF7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.footer_logo{
    height: 90px;
    width: 60px;
    margin-bottom: 10px;
}
.inner_footer p:nth-child(2){
    font-size: 14px;
}
.inner_footer p:nth-child(2){
    font-size: 14px;
    margin-bottom: 10px;
}
.inner_footer p:nth-child(4){
    margin: 10px 0;
}
.inner_footer ul{
    display: flex;
}
.footer_link li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #FBF7F1;
    margin: 0 10px;
}
.footer_link li:nth-child(1)::before{
    display: none;
}
.sns li{
    width: 35px;
    height: 35px;
    margin: 10px 5px;
}

/* top_btn */

.top_btn{
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
    width: 85px;
    height: 85px;
}
.btn_text{
    position: relative;
}
.btn_text img{
    position: absolute;
    top: -21px;
    left: -23px;
    animation: rotate 7s infinite linear;
}