@charset "utf-8";
/* webfont */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
html,div,body,p,ul,ol,li,a,h1,h2,h3,h4,h5,h6,input,textarea,select,option,strong,span,em,dl,dt,dd,table,th,td,tr,img,video {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#wrap{
    min-width: 1400px;
}

html, body{
    cursor: url(../images/cursor.cur),auto;
}
body{
    font-family: 'NEXON Lv1 Gothic OTF','Montserrat';
    font-size: 14px;
    line-height: 20px;
    color: #a2875c;
}

/* header */

.inner_header{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav> li{
    position: relative;
    display: flex;
}
.nav> li> a{
    display: inline-block;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 50px 70px 0;
    padding-bottom: 20px;
}
.nav> li> a:hover{
    color: #cac1a6;
}
.link_wrap{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    background-color: aqua;
}
.link{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 9;
}
.link li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #a2875c;
    margin: 0 10px;
}
.link li:nth-child(1)::before{
    display: none;
}
.header_logo{
    position: absolute;
    top: 45px;
    left: 600px;
    z-index: 9;
}
.header_logo:hover{
    transform: rotate(15deg);
}

/* banner */

#banner{
    overflow: hidden;
    margin-top: 20px;
}
.inner_banner{
    height: 540px;
    background: url(../images/3_sub2_images/shop_banner.png) no-repeat center center;
}

/* shop */

#shop{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.shop_title{
    font-size: 50px;
    font-weight: bold;
    margin: 100px 0 50px;
}
.product{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product li{
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
    position: relative;
}
.product li a{
    display: block;
    width: 320px;
    height: 327px;
    background-color: #FBF7F1;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.product li .best_icon{
    position: absolute;
    top: -35px;
    left: -15px;
    z-index: 9;
    transition: all 1s;
}
.product li a img{
    width: 100%;
    transform: rotate(0);
    transition: all 0.5s;
}
.product li .best_icon:hover{
    transform: rotateY(180deg);
}
.product li a img:hover{
    transform: rotate(10deg);
}
.product li a:hover{
    background-color: #c7baa4;
}

.product li:nth-child(10){
    padding-right: 675px;
}

/* event_banner */

#event_banner{
    width: 1320px;
    margin: 150px auto;
    background: url(../images/3_sub2_images/texture.png) no-repeat center center;
    height: 327px;
    display: flex;
    position: relative;
}
.postcard{
    position: absolute;
    top: -150px;
    left: 0;
}
.postcard img{
    transform: scale(1);
    transition: all 1s;
}
.postcard img:hover{
    transform: scale(1.08);
}
.title{
    display: flex;
    justify-content: center;
}
.title span{
    margin: 20px 20px 0;
    color: #634F2E;
    font-size: 43px;
}
.event_text{
    margin-left: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event_text p{
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    line-height: 30px;
}
.btn{
    display: inline-block;
    width: 90px;
    padding: 6px 10px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: #fff;
}
.btn:hover{
    background-color: #a2875c;
    color: #fff;
}

/* footer */

#footer{
    height: 300px;
    background: url(../images/footer_bg.png) no-repeat center center;
    margin-top: 50px;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    color: #FBF7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.footer_logo{
    height: 90px;
    width: 60px;
    margin-bottom: 10px;
}
.inner_footer p:nth-child(2){
    font-size: 14px;
}
.inner_footer p:nth-child(2){
    font-size: 14px;
    margin-bottom: 10px;
}
.inner_footer p:nth-child(4){
    margin: 10px 0;
}
.inner_footer ul{
    display: flex;
}
.footer_link li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #FBF7F1;
    margin: 0 10px;
}
.footer_link li:nth-child(1)::before{
    display: none;
}
.sns li{
    width: 35px;
    height: 35px;
    margin: 10px 5px;
}

/* top_btn */

.top_btn{
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
    width: 85px;
    height: 85px;

}
.btn_text{
    position: relative;
}
.btn_text img{
    position: absolute;
    top: -21px;
    left: -23px;
    animation: rotate 7s infinite linear;
}