@charset "utf-8";
/* webfont */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
html,div,body,p,ul,ol,li,a,h1,h2,h3,h4,h5,h6,input,textarea,select,option,strong,span,em,dl,dt,dd,table,th,td,tr,img,video {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#wrap{
    min-width: 1400px;
}

html, body{
    cursor: url(../images/cursor.cur),auto;
}
body{
    font-family: 'NEXON Lv1 Gothic OTF','Montserrat';
    font-size: 14px;
    line-height: 20px;
    color: #a2875c;
}

/* header */

.inner_header{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav> li{
    position: relative;
    display: flex;
}
.nav> li> a{
    display: inline-block;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 50px 70px 0;
    padding-bottom: 20px;
}
.nav> li> a:hover{
    color: #cac1a6;
}
.link_wrap{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    background-color: aqua;
}
.link{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 9;
}
.link li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #a2875c;
    margin: 0 10px;
}
.link li:nth-child(1)::before{
    display: none;
}
.header_logo{
    position: absolute;
    top: 45px;
    left: 600px;
    z-index: 9;
}
.header_logo:hover{
    transform: rotate(15deg);
}

/* banner */

#banner{
    overflow: hidden;
    margin-top: 20px;
}
.inner_banner{
    height: 540px;
    background: url(../images/5_sub4_images/community_banner.png) no-repeat center center;
}
/* board */

#board{
    width: 1320px;
    margin: 50px auto;
}
.tap_menu_wrap{
    position: relative;
}
#tap_menu {
	position: absolute;
    right: 0;
    top: 0;
	padding: 20px 0;
	display: inline-block;
}
#tap_menu>li {
	display: inline-block;
	font-size: 18px;
	text-align: center;
	margin: 0 5px;
}

.tap {
	cursor: pointer;
	display: inline-block;
    padding: 6px 15px;
    border-radius: 50px;
    margin-top: 30px;
    border: 1px solid #a2875c;
}
.opacity {
    background-color: #a2875c;
    color: #fff;
}

/* table */
table{
    border-top: 3px solid #a2875c;
    border-bottom: 3px solid #a2875c;
    border-collapse: collapse;
    width: 100%;
    margin: 80px 0;
}
table tr:nth-child(1){
    background-color: #fff9f1;
}
th, td{
    border-bottom: 1px solid #a2875c;
    padding: 20px;
}
th{
    font-size: 18px;
}
td{
    text-align: center;
    cursor: pointer;
}
/* search */
.search_wrap{
    width: 400px;
    margin: 100px auto;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #a2875c;
}
.search{
    margin: 5px 0  0 20px ;
}
.search_wrap input{
    display: block;
    width: 300px;
    height: 38px;
    font-size: 20px;
    border: none;
    outline: none;
    /* form 태그에 공통적으로 쓰임 */
    color: #a2875c;
    font-family: 'NEXON Lv1 Gothic OTF';
}
.search_wrap input::placeholder{
    color: #a2875c;
}

/*section1*/

.ab {
    color: #A79376;
}

/*js제어*/

#section1 {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

/*faq*/

.faqs{
    margin-top: 70px;
}
.font_10 {
    font-size: 20px;
    font-weight: 800;
    padding-top: 11px;
}

.right {
    position: relative;
    width: 1320px;
    padding: 10px 0;
    float: right;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
}

.right ul li:nth-child(1) {
    text-align: center;
    width: 140px;
    float: left;
}

.right ul li:nth-child(2) {
    width: 1070px;
    float: left;
}

.right ul li:nth-child(3) {
    width: 110px;
    float: right;
    padding-top: 17.5px
}

.right>li ul {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    overflow: hidden;
}
.right ul li:nth-child(1) .notice_line,
.right ul li:nth-child(5) .notice_line{
    height: 3px;
}
.text_info {
    background: #ffffff;
    text-align: left;
    overflow: hidden;
}

.right>li .text_info {
    display: none;
    padding: 25px 0 30px 0;
}

.right>li .text_info {
    width: 100%
}

.notice_line {
    height: 1px;
    text-align: center;
    width: 100%;
    margin: auto;
    background: #a2875c;
}

.notice_bg {
    height: 781px
}

.right .font_18 {
    position: relative;
    height: 50px;
    color: #a2875c;
    font-size: 14px;
}

.right .font_18 .noc_po {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.turn {
    transform: rotate(180deg);
}

.plus img {
    transition: transform 0.5s;
}
.text_info{
    background-color: #fff9f1;
}
.text_info p {
    float: left;
    font-size: 15px;
    line-height: 25px;
}

.answer {
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #a2875c;
}
/* footer */

#footer{
    height: 300px;
    background: url(../images/footer_bg.png) no-repeat center center;
    /* margin-top: 50px; */
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    color: #FBF7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.footer_logo{
    height: 90px;
    width: 60px;
    margin-bottom: 10px;
}
.inner_footer p:nth-child(2){
    font-size: 14px;
}
.inner_footer p:nth-child(2){
    font-size: 14px;
    margin-bottom: 10px;
}
.inner_footer p:nth-child(4){
    margin: 10px 0;
}
.inner_footer ul{
    display: flex;
}
.footer_link li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #FBF7F1;
    margin: 0 10px;
}
.footer_link li:nth-child(1)::before{
    display: none;
}
.sns li{
    width: 35px;
    height: 35px;
    margin: 10px 5px;
}

/* top_btn */

.top_btn{
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
    width: 85px;
    height: 85px;

}
.btn_text{
    position: relative;
}
.btn_text img{
    position: absolute;
    top: -21px;
    left: -23px;
    animation: rotate 7s infinite linear;
}